#notificationHolder {
  position: fixed;
}
#notification {
  position: absolute;
  min-width: 200px;
  min-height: 70px;
  margin-top: 10px;
  background-color: #dde;
}
#notification p.message {
  font: 14px 'Cuprum', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  padding: 25px 5px;
  display: block;
  margin-left: auto;
}
#notification div.notifyIcon {
  float: left;
  width: 32px;
  height: 32px;
  margin-top: 14px;
}
#notificationHolder div.success {
  background-color: #006400;
}
#notificationHolder div.default {
  -webkit-box-shadow: 0 0 10px 1px #666;
  box-shadow: 0 0 10px 1px #666;
  color: #eee;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
